<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div id="wjp">
			<ul>
				<!-- 普通 循环数组/对象 -->
				<!-- <li v-for="v in arr1">{{v}}</li> -->
				<!-- <li v-for="v in user">{{v}}</li> -->

				<!-- 加索引或键的循环 -->
				<!-- <li v-for="(v,k) in arr1">{{k}}={{v}}</li> -->
				<!-- <li v-for="(v,k) in user">{{k}}={{v}}</li> -->

				<!-- 可以循环有重复数据的数组 -->
				<!-- <li v-for="v in arr2">{{v}}</li> -->

				<!-- 可以直接循环包含重复数据的集合，可以通过指定:key属性绑定唯一key，当更新元素时可重用元素，提高效率，类似于vue1.0中track-by -->
				<!-- <li v-for="(v,k) in arr2" :key="k">{{v}}</li> -->

				<li v-for="(user,index) in users">
					{{index+1}},{{user.id}},{{user.name}},{{user.age}}
				</li>
			</ul>


		</div>

		<script type="text/javascript">
			new Vue({
				el: '#wjp',
				data: {
					arr1: [12, 23, 45, 67],
					user: {
						name: 'aa',
						age: 20
					},
					arr2: [12, 25, 45, 78, 69, 12],
					users: [{
							id: 9527,
							name: '唐伯虎',
							age: 25
						},
						{
							id: 1001,
							name: '秋香',
							age: 22
						},
						{
							id: 1002,
							name: '石榴姐',
							age: 24
						}
					]
				}
			})
		</script>
	</body>
</html>
